
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');


:root{

    /* COLORS */
    --white: #ececec;
    --orange: #f3a81c;
    --orange-dark: rgb(207, 137, 7);
    --blue: rgb(84, 84, 231);
    --blue-dark: rgb(51, 51, 243);
    --yesil: #0beb29;
    --yesil-koyu: #23aa23c2;

    /* FONT */

    --ff-workbench:'Workbench', sans-serif;

    /* FONT SİZES */

    --fs-lg:1.4rem;
    --fs-xl:2rem;
    --fs-xxl:3rem;

    /* RENK PALETİ */

    --pink-1:#F2529D;
    --pink-2:#A99CD9;
    --pink-3:#9080F2;
    --pink-4:#05F2F2;
    --yellow-y:#F2CB05;

     


}

body{
    background-color: var(--white);
    /*font-family: 'Workbench', sans-serif; */

}

h1{
   
background-color: var(--blue-dark);
}

p{
    background-color: var(--blue);
    color: var(--orange-dark);
    font-family: var(--ff-workbench);
    font-size: var(--fs-xl);
}

.container{
    border: 2px solid red;
    width: 500px;
    height: 300px;

}

.light{
    width: 150px;
    height: 150px;
    background-color: var(--pink-3);


}

.dark{
    width: 150px;
    height: 150px;
    background-color: var(--pink-1);

}